h1{
    font-family: Helvetica;
    color: white;
}

input{
    font-size:25px;
    text-align: center;
    border-radius: 15;
}

.btn{
    /* border-radius: 5; */
}

#ip {
    width: 399px;
    height: 59px;
}

#D1-on {
    width: 99px;
    height: 59px;
}

#D1-off {
    width: 99px;
    height: 59px;
}

#D2-off {
    width: 99px;
    height: 59px;
}

#D2-on {
    width: 99px;
    height: 59px;
}

#D2-off {
    width: 99px;
    height: 59px;
}

#D3-on {
    width: 99px;
    height: 59px;
}

#D3-off {
    width: 99px;
    height: 59px;
}