#ip {
    width: 399px;
    height: 59px;
}

#D1-on {
    width: 99px;
    height: 59px;
}

#D1-off {
    width: 99px;
    height: 59px;
}

#D2-off {
    width: 99px;
    height: 59px;
}

#D2-on {
    width: 99px;
    height: 59px;
}

#D2-off {
    width: 99px;
    height: 59px;
}

#D3-on {
    width: 99px;
    height: 59px;
}

#D3-off {
    width: 99px;
    height: 59px;
}